*{margin: 0px; padding: 0px;}

body{
    background-color: black; 
}

.menu{
    position: fixed;
    left: 350px;
    top: 0px;
}

h1{
    text-align: center;
    color:black;
    font-size: 500%;
    margin-top: -5%;
    font-family: 'Anton', sans-serif;
	perspective: 1000px; 
	perspective-origin: 200px 40px;
}

#cine_colombiano{
    text-decoration-line:none ;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}

#cine_colombiano:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;
}
#proimagenes{
    text-decoration-line:none ;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}
#proimagenes:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;
}
#inicio{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}

#inicio:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;
}
#financiación{
    text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}
#financiación:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;
}
#eventos{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}
#eventos:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;
}
#prin{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30%;
    background-color: #000000;
    border: 2px;
    color:#ffffff;
}
#prin:hover{
    background: linear-gradient(180deg, #78797a 0%, 50%, #020202 100%);
    background-position: 0 -60px;
    transition: all .3s;}

.nav img{
    width: 200px;
height: 120px;
filter: drop-shadow(5px 5px 10px #ffffff);
margin-left: 2%;
margin-top: 2%;
}
.container{
    background-color: #e4e1e1;
    margin: 50px 250px;
    text-align: center;
    color: black;
}
.uno img{
width: 920px;
height: 500px;
padding: 10%;
}
.uno p{
    
    font-size: 20px; 
   margin-left:90px;
   margin-top:-90px;
   margin-right:90px;
   margin-bottom: 20px; 
   
}

.dos img{
    margin-top:3%;
}
#monos{
    width: 100%;
    height: auto;
}
.dos h2{
    margin-top: 3%;
    font-size: 50px;
}
.dos p{
    margin-top: 3%;
    padding:20px;
}

}
@media (max-width:1600px){
    .body{
        width: 100%;
    }
    .uno img{
        width: 320px;
        height: 200px;
        padding: 10%;
    }
}
