*{margin: 0px; padding: 0px;}

body{
    background-color: black;
}

h1{
    text-align: center;
    color:white;
    font-size: 500%;
    margin-top: -5%;
}
.nav img{
    width: 200px;
height: 120px;
filter: drop-shadow(5px 5px 10px #ffffff);
margin-left: 2%;
margin-top: 2%;
}
.container{
    background-color: #e4e1e1;
    margin: 50px 250px;
    text-align: center;
    color: black;
}
.uno img{
width: 920px;
height: 500px;
padding: 10%;

}